/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: none;
    background: none;
}

/* padrao para todo o site */

button:hover, a {
    cursor: pointer;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* cabecalho */

.cabecalho {
    height: 13vh;
    background-color: #3347B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-titulo {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    color: #FFF;
}

.cabecalho-titulo h1 {
    max-width: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.cabecalho-voltar {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
}

.botao-voltar {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    color: #FFF;
    background: none;
    text-decoration: none;
    border: none;
}

.botao-voltar span {
    max-width: 1rem;
    padding: 0 1rem;
    font-size: 2rem;
}

/* main geral */

main {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Home */

.container-principal {
    width: 27rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container-principal h2 {
    font-weight: normal;
    font-size: 3.4rem;
}

.palavra-curso {
    color: #3347B0;
}

.container-botoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.botao-curso {
    color: #FFF;
    background-color: #3347B0;
    width: 25rem;
    height: 12rem;
    font-size: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 10px 10px 4px rgb(151, 151, 151);
    transition: 1s;
}

.botao-curso:hover {
    transform: scale(1.07);
}

/* Alunos */

/* Detalhe Aluno */

/* rodape */

.rodape {
    height: 17vh;
    background-color: #3347B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

.rodape-info {
    padding: 1rem 0 0 5rem;
}

.rodape-info ul li {
    padding: 0.4rem;
}

.rodape-info ul li span {
    padding-left: 0.7rem;
}

.rodape-social ul {
    width: 21rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}